@import url(./variable.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.my-container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .my-container {
        max-width: 1250px;
    }
}

.logo-dashboard {
    text-align: center !important;
}

.sidebar {
    width: 350px;
    border-right: 1px solid var(--dark);
}

.brand-logo span {
    color: var(--color-1);
}

.bio {
    margin-top: 30px;
}

.bio svg {
    margin-top: -9px;
}

.biodata h1 {
    font-size: 26px;
}

.biodata p {
    font-size: 10px;
}

.menu {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu ul {
    list-style: none;
    /* border-top: 1px solid red; */
}

.menu ul li {
    padding: 20px;
    margin: 20px 10px 20px 40px;
    padding: 0;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; */
    border-radius: 20px !important;
}

.menu ul li .item a {
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
    color: var(--dark);
}

.item {
    border-radius: 30px !important;
}

.menu-active {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
