@import url(./variable.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.my-container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .my-container {
        max-width: 1250px;
    }
}

.logo-dashboard {
    text-align: center !important;
}

.sidebar {
    width: 350px;
    border-right: 1px solid var(--dark);
}

.brand-logo span {
    color: var(--color-1);
}

.bio {
    margin-top: 30px;
}

.bio svg {
    margin-top: -9px;
}

.biodata h1 {
    color: var(--color-1);
    font-size: 26px;
    text-transform: uppercase;
}

.biodata p {
    font-size: 12px;
    font-weight: 600;
}

.menu {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu ul {
    list-style: none;
    /* border-top: 1px solid red; */
}

.menu ul li {
    padding: 20px;
    margin: 20px 10px 20px 40px;
    padding: 0;
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; */
    border-radius: 20px !important;
}

.menu ul li a {
    /* margin-left: 5px; */
    font-size: 20px;
    text-decoration: none;
    color: var(--dark);
}

.item {
    border-radius: 30px !important;
}

.menu-active {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.175) !important;
}

.info-suara {
    border-radius: 14px;
}

.info-suara div p {
    font-weight: 500;
}

/* .info-suara div ol{
} */

.info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.info::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.info::-webkit-scrollbar-thumb {
    background-color: var(--grey);
}

.paslon-card:hover {
    cursor: pointer;
    background-color: var(--color-4);
}

.paslon-card:active {
    background-color: var(--color-4);
}

.info-wrap {
    display: none;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar div ul li a div span {
        display: none;
    }

    .sidebar div ul li a div.item {
        padding: 10px auto;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .sidebar div ul li a div span {
        display: none;
    }

    .sidebar div ul li a div.item {
        padding: 10px auto;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .content .row .col-md-6 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        border: red solid 1px;
    }

    /* make bottom nav */
    .sidebar {
        overflow: hidden;
        background-color: rgba(150, 134, 134, 0.4);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999999;
        padding: 0;
        margin: 0;
        /* align-items: center; */
    }

    .sidebar .menu ul {
        display: flex;
        margin: 0;
        padding: 0;
        /* align-items: center; */
        justify-content: space-around;
        /* list-style-type: none; */
    }

    .sidebar ul li div span {
        display: none;
    }

    .main-info {
        display: none;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .sidebar {
        overflow: hidden;
        background-color: red;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9999999;
    }
}
